body{

    font-family: 'Kanit', sans-serif;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

#titulo{
    text-align: center;
}

#canvas {
    width: 500px;
    height: 500px;
}

.container{
    display: flex;
    justify-content: center;
}

#listacamino{
    display: flex;
    flex-direction: column-reverse;
}

#camino{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    
    #canvas {
        width: 320px;
        height: 320px;
    }
  }
  